qc_results
atom_results
golfball_results_rndm
lipid_results_rndm
qc_results_rndm
golfball_results
lipid_results
.idea
*OLD*
*.svg
!golfballs_combined_plot.svg
*.csv
*.png
*workspace*
golf*
!golfballs_combined_plot.svg
*snippet*
*.csv
*.tif*
lipid_validation2*
lipid_validation1t*
